menu "Wi-Fi Credentials"

config WIFI_SSID
    string "Wi-Fi SSID"
    default "YOUR SSID"
    help
        Enter the SSID of your Wi-Fi network.

config WIFI_PASSWORD
    string "Wi-Fi Password"
    default "YOUR PASSWORD"
    help
        Enter the password of your Wi-Fi network.

endmenu